

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="mb-3">
                
                <input placeholder="Search for fundraisers" class="form-control" />
                
            </div>
            <br /> <br />
            <p>Trending fundraisers</p>
        </div>
    </div>
</form>
