@model User_1



<form method="post" action="/action_page.php">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create New User</h2>
            <hr />
            <div asp-validation-summary="All">

            </div>
            @using (Html.BeginForm("Create", "Login")){

            <div class="mb-3">
                <label asp-for="UserName">User Name</label>
                <input asp-for="UserName" class="form-control" name="UserName"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>


            <!---------------------------------------------------------------------------------------------------------------------------->
                        <div class="mb-3">
                             <label  for="Password">Password</label>
                             <input  type="password" id="Password" class="form-control" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!-*]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                        </div>



                        <div id="message">
                            <h3>Password must contain the following:</h3>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="special" class="invalid">A <b>special symbol</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>

                        <script>
                            var myInput = document.getElementById("Password");
                            var letter = document.getElementById("letter");
                            var capital = document.getElementById("capital");
                            var number = document.getElementById("number");
                            var specSym = document.getElementById("special");
                            var length = document.getElementById("length");

                            // When the user clicks on the password field, show the message box
                            myInput.onfocus = function() {
                              document.getElementById("message").style.display = "block";
                            }

                            // When the user clicks outside of the password field, hide the message box
                            myInput.onblur = function() {
                              document.getElementById("message").style.display = "none";
                            }

                            // When the user starts to type something inside the password field
                            myInput.onkeyup = function() {
                              // Validate lowercase letters
                              var lowerCaseLetters = /[a-z]/g;
                              if(myInput.value.match(lowerCaseLetters)) {
                                letter.classList.remove("invalid");
                                letter.classList.add("valid");
                              } else {
                                letter.classList.remove("valid");
                                letter.classList.add("invalid");
                            }

                              // Validate capital letters
                              var upperCaseLetters = /[A-Z]/g;
                              if(myInput.value.match(upperCaseLetters)) {
                                capital.classList.remove("invalid");
                                capital.classList.add("valid");
                              } else {
                                capital.classList.remove("valid");
                                capital.classList.add("invalid");
                              }

                              // Validate numbers
                              var numbers = /[0-9]/g;
                              if(myInput.value.match(numbers)) {
                                number.classList.remove("invalid");
                                number.classList.add("valid");
                              } else {
                                number.classList.remove("valid");
                                number.classList.add("invalid");
                              }

                                // Validate special symbol
                                var specialSymbols = /[!-*]/g;
                                if (myInput.value.match(specialSymbols)) {
                                    special.classList.remove("invalid");
                                    special.classList.add("valid");
                                } else {
                                    special.classList.remove("valid");
                                    special.classList.add("invalid");
                                }

                              // Validate length
                              if(myInput.value.length >= 8) {
                                length.classList.remove("invalid");
                                length.classList.add("valid");
                              } else {
                                length.classList.remove("valid");
                                length.classList.add("invalid");
                              }
                            }
                        </script>
                     <style type="text/css">
                        input {
                        width: 100%;
                        padding: 12px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-top: 6px;
                        margin-bottom: 16px;
                        }

                        /* Style the submit button */
                        input[type=submit] {
                        background-color: #04AA6D;
                        color: white;
                        }

                        /* Style the container for inputs */
                        .container {
                        background-color: #f1f1f1;
                        padding: 20px;
                        }

                        /* The message box is shown when the user clicks on the password field */
                        #message {
                        display:none;
                        background: #f1f1f1;
                        color: #000;
                        position: relative;
                        padding: 20px;
                        margin-top: 10px;
                        }

                        #message p {
                        padding: 10px 35px;
                        font-size: 18px;
                        }

                        /* Add a green text color and a checkmark when the requirements are right */
                        .valid {
                        color: green;
                        }

                        .valid:before {
                        position: relative;
                        left: -35px;
                                    content: "\2713";
                        }

                        /* Add a red text color and an "x" icon when the requirements are wrong */
                        .invalid {
                        color: red;
                        }

                        .invalid:before {
                        position: relative;
                        left: -35px;
                                    content: "\2717";
                        }
                        </style>

                    <!--
                -->
                <!------------------------------------------------------------------------------------------------------------------------------->



            <div class="mb-3">
                <label>Confirm Password</label>
                <input asp-for="Password" class="form-control" name="ConfirmPassword"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            }

            <div class="mb-3">
                <label asp-for="FullName">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select class="form-control" >
                    <option value="">Choose A Sequrity Question #1</option>
                    <option value="pet">What is the name of your favorite pet?</option>
                    <option value="car">What was the make of your first car?</option>
                    <option value="food">What was your favorite food as a child?</option>
                    <option value="city">In what city were you born?</option>
                    <option value="school">What high school did you attend?</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="SequrityQuestion1"></label>
                <input asp-for="SequrityQuestion1" class="form-control"/>
                <span asp-validation-for="SequrityQuestion1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <select class="form-control">
                    <option value="">Choose A Sequrity Question #2</option>
                    <option value="pet">What is the name of your favorite pet?</option>
                    <option value="car">What was the make of your first car?</option>
                    <option value="food">What was your favorite food as a child?</option>
                    <option value="city">In what city were you born?</option>
                    <option value="school">What high school did you attend?</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="SequrityQuestion2"></label>
                <input asp-for="SequrityQuestion2" class="form-control"/>
                <span asp-validation-for="SequrityQuestion2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"></label>
                <select class="form-control">
                    <option value="">Choose A Sequrity Question #3</option>
                    <option value="pet">What is the name of your favorite pet?</option>
                    <option value="car">What was the make of your first car?</option>
                    <option value="food">What was your favorite food as a child?</option>
                    <option value="city">In what city were you born?</option>
                    <option value="school">What high school did you attend?</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="SequrityQuestion3"></label>
                <input asp-for="SequrityQuestion3" class="form-control"/>
                <span asp-validation-for="SequrityQuestion3" class="text-danger"></span>
            </div>
                
            <button asp-action="Create" asp-controller="Login" type="submit" class="btn btn-primary" style="width:150px">Create</button>

            <label>Have an account?</label>
            <a asp-controller="Login" asp-action="Index" class="link-primary" >
                Sing In
            </a>
 <!--           <a asp-controller="Login" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to Login
            </a>
            -->
            
            <p>
                <strong>@ViewBag.Message</strong>
            </p>
        </div>
    </div>
</form>