@model User_1
@{
    ViewData["Title"] = "Index";
    //ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>Log in</h2>
            </div>
            @using (Html.BeginForm("Login", "Login")){
                <div class="card-body">
                    <form asp-controller="Login" method="post">
                        <div class="mb-3">
                            <label>Customer ID:</label>
                            <input asp-for=UserName type="text" placeholder="ID" class="form-control" name="UserName" />
                        </div>
             
                            <div class="mb-3">
                                <label>Password:</label>
                                <input asp-for=Password type="password" placeholder="password" class="form-control" name="Password" />
                                
                            </div>

                            <div class="mb-3">
                            <button asp-controller="Login" asp-action="Login" type="submit" class="btn btn-primary">Log in</button>
                        </div>

                        <div class="mb-3">
                            <label>Don't have an account?</label>
                            <a asp-controller="Login" asp-action="Create" class="link-primary">
                                Join now    
                            </a>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    
                </div>
            }
            <p>@ViewBag.Message</p>
            
        </div>
    </div>
</div>



