@{
    ViewData["Title"] = "Home Page";
}





<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/CommerceProject.styles.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            <div class="text-center">
                <h1 class="display-4">Welcome Page</h1>
                <p>Here will be a list of all existent fundraisers and an option to create a new fundraiser.</p>
            </div>

            
        </header>
        <main>
            <h4 class="display-6"> Top Fundraisers</h4>
            <!--Bootstrap card with info-->
            <div>
                <div class="row">
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://images.pexels.com/photos/1739855/pexels-photo-1739855.jpeg?cs=srgb&dl=pexels-hitesh-choudhary-1739855.jpg&fm=jpg&_gl=1" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Hurricane Blake Relief</h5>
                                <p class="card-text">Hurricane Blake has rocked the east side of Texas and 80k+ families are without food, water electiricty...</p>
                                <a href="#" class="btn btn-primary">Donate</a>
                            </div>
                            <div class="card-footer">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://images.pexels.com/photos/35537/child-children-girl-happy.jpg?cs=srgb&dl=pexels-bess-hamiti-35537.jpg&fm=jpg&_gl=1*1b14fv2" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Dylan Harbaugh</h5>
                                <p class="card-text">For those who do not know him, Dylan Harbaugh is 3 years old with a very rare blood disorder. As you can imagine..."</p>
                                <a href="#" class="btn btn-primary">Donate</a>
                            </div>
                             <div class="card-footer">
                                <div class="progress-bar" role="progressbar" aria-valuenow="31"
                                     aria-valuemin="0" aria-valuemax="100" style="width:31%">
                                    31%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?cs=srgb&dl=pexels-football-wife-1618269.jpg&fm=jpg&_gl=1" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Fairview Falcons Fundrasier</h5>
                                <p class="card-text">It is that time again! The Fairview Falcons Fundraiser is back open as they continue to fight for their 4th championship in...</p>
                            <a href="#" class="btn btn-primary">Donate</a>
                            </div>
                            <div class="card-footer">
                                <div class="progress-bar" role="progressbar" aria-valuenow="94"
                                     aria-valuemin="0" aria-valuemax="100" style="width:94%">
                                    94%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://images.pexels.com/photos/6010867/pexels-photo-6010867.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-6010867.jpg&fm=jpg&_gl=1" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Help for Emily</h5>
                                <p class="card-text">My name is Sarah Jenkins, Emily Jenkins is my daughter and I am asking for your help as the medical bills have...</p>
                            <a href="#" class="btn btn-primary">Donate</a>
                            </div>
                            <div class="card-footer">
                                <div class="progress-bar" role="progressbar" aria-valuenow="26"
                                     aria-valuemin="0" aria-valuemax="100" style="width:26%">
                                    26%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            
           <div>
               <div style="text-align: right;">
                <img src="https://images.pexels.com/photos/160994/family-outdoor-happy-happiness-160994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                </div>
            </div>
        
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
            
         
        </main>
        <footer>
            
        </footer>
    </body>
</html>