@model Fundraiser_1
@{
    ViewData["Title"] = "Home Page";

    var fundraiserName = TempData.Peek("FundraiserName");
    var fundraiserDescription = TempData["Description"];
    var currentAmount = TempData["CurrentAmount"];
    var goal = TempData["Goal"];
    var owner = TempData["Owner"];

    var donors = TempData["list"] as List<string>;
    var size = TempData["donorsnumber"];
}

<h10>@fundraiserName</h10>
<br />
<br />

<table class="table table-borderless" style="width:100%">
    <thead>
        <tr>
            <th>
                Fundraiser Picture
            </th>
            <th>
                Fundraiser Info
                <hr />
                @fundraiserDescription
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td width="60%">
                <card>

                </card>
            </td>
            <td width="40%">
                <card>
                    <p>
                        Progress bar for collected money                                      
                        <hr />
                        Goal: @goal
                        <br />
                        Already collected: @currentAmount
                    </p>
                    <p>
                        Number of donors: @size
                    </p>
                    <p>
                        @Html.ActionLink("DONATE", "MakeDonation", "Donation", new {FundraiserName = @fundraiserName}, null);
                    </p>
                    <p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Edit", "Edit", "Fundraiser", new {FundraiserName = fundraiserName,
                                            FundraiserDescription = fundraiserDescription, FundraiserGoal = goal, Owner = owner}, null);
                            
                        }
                    </p>
                    <p>                        
                        List of recent donors
                        @foreach(var don in donors)
                        {
                            <p>@don</p>
                            <br />
                        }
                    </p>                    
                </card>
            </td>
        </tr>
    </tbody>
</table>

