@inject IHttpContextAccessor _contextAccessor;


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                @if(!User.Identity.IsAuthenticated){
                    <h1>Sign in before continue... </h1>
                    <a class="link-primary text-dark" asp-controller="Login" asp-action="Index">Sign In</a>
                    <br/>
                }
                else{
                    <h1>Welcome @User.Identity.Name</h1>
                }
            </div>
            @using (Html.BeginForm("StartFundraiser", "Fundraiser"))
            {
                <div class="card-body">
                    <form asp-controller="Login" method="post">
                        <div class="mb-3">
                            <label>Enter your goal:</label>
                            <input type="text" placeholder="$0.00" class="form-control" name="goal" />
                        </div>

                        <div class="mb-3">
                            <label>Fundraiser Title:</label>
                            <input type="text" placeholder="Title" class="form-control" name="title" />
                        </div>

                        <div class="mb-3">
                            <label>Fundraiser Description:</label>
                            <input type="text" placeholder="Description" class="form-control" name="description" />
                        </div>

                        <div class="mb-3">
                            <button asp-controller="Fundraiser" asp-action="CreateFundraiser" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="mb-3">
                            <button asp-controller="Login" asp-action="UserProfile" type="submit" class="btn btn-secondary">Go Back</button>
                        </div>
                        
                    </form>
                </div>
                <div class="card-footer">
                </div>
            }            
        </div>
    </div>
</div>
